*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about {
	justify-content: start;
}

.main-logo {
min-width: 10%;
max-width: 50%;
width: 350px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.logo-hover {
	position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.main-logo:hover .logo-hover {
  display: flex;
}

/* Color schemes */

.dustu {
	--color-text: #fff;
	--color-background: #272727;
	--color-link: #565656;
	--color-link-hover: #fff;
}


/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.title {
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	margin-top: 2rem;
	font-size: 3rem;
}

.title-nav {
	font-weight: 600 !important;
	letter-spacing: 2px !important;
	margin-right: 5rem;
}


/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
	display: flex;
}

.menu__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 1.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}


@media screen and (max-width: 50em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}

	.menu {
		flex-direction: column;
		margin-top: 2rem;
	}
	.menu__item,
	.menu__item-name,
	.menu__item-label {
		margin: 0.5em auto !important;
		padding: 0 !important;
	}
}

.menu--dustu .menu__item {
	font-family: 'Nunito', serif;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em 1rem;
}

.menu--dustu .menu__item-name {
	font-size: 1.75em;
	font-weight: 300;
	overflow: hidden;
	padding: 0 0.25em;
	text-transform: uppercase;
	color: #fff;
}

.menu--dustu .menu__item-name::before,
.menu--dustu .menu__item-name::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c2000b;
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition: transform 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--dustu .menu__item:hover .menu__item-name::before {
	transform: translate3d(100%,0,0) translate3d(1px,0,0);
}

.menu--dustu .menu__item:hover .menu__item-name::after {
	transform: translate3d(0,0,0);
}


.menu--dustu .menu__item-name::after {
	top: calc(50% - 2px);
	height: 4px;
}

.menu--dustu .menu__item-label {
	font-size: 1em;
	margin: 0.5em 0 0 0;
	margin-top: 0.25em;
	padding: 0.5em;
	font-weight: 300;
	letter-spacing: 1px;
	color: #272727;
	transition: color 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	text-decoration: none;
}

.menu--dustu .menu__item:hover .menu__item-label {
	color: #fff;
}

.active-about {
	color: #c2000b !important;
	text-decoration: line-through;
	font-weight: 600 !important;
}

.active-services {
	color: #ff8000 !important;
	text-decoration: line-through;
	font-weight: 600 !important;
}

.active-projects {
	color: #fe330a !important;
	text-decoration: line-through;
	font-weight: 600 !important;
}

.active-contact {
	color: #ffff00 !important;
	text-decoration: line-through;
	font-weight: 600 !important;
}

.active-label {
	color: #fffff0 !important;
}




.homepage-box {
	width: 50%;
	min-height: 500px;
	background: #ff8000;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-28 19:9:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: text-focus-in 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-28 19:11:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.about-us,
.services,
.projects,
.contact {
	max-width: 1100px;
	margin: 2rem auto auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.contact {
flex-direction: column;
}

.services {
	align-items: start;
}

.bar {
	background: #c2000b;
  height: 350px;
	width: 20px; 
	margin: 2rem;
}

.about-us p,
.services p,
.contact p {
	font-size: 1.45rem;
	padding: 1rem;
}
.page-title {
	font-weight: 600;
	text-transform: uppercase;
	text-align: right;
	padding: 0 1rem;
	margin-bottom: -1rem;
	letter-spacing: 2.5px;
	color: #c2000b;
}

.services .page-title {
	color: #ff8000;
	text-align: left;
}



.signature {
	text-align: right;
	padding: 0.5rem !important;
}


.services-img {
	max-width: 500px;
	margin: 1rem 2rem 1rem 0;
}

.projects-list {
	flex-direction: column;
}

.projects-section {
	margin-left: 1rem;
}

.projects .menu__item {
	margin: 0.2rem;
	align-items: start;
}

.projects .menu--dustu .menu__item-name::before,
.projects .menu--dustu .menu__item-name::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fe330a;
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition: transform 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.projects .menu--dustu .menu__item:hover .menu__item-name::before {
	transform: translate3d(100%,0,0) translate3d(1px,0,0);
}

.projects .menu--dustu .menu__item:hover .menu__item-name::after {
	transform: translate3d(0,0,0);
}

.projects .menu--dustu .menu__item-name::after {
	top: calc(50% - 2px);
	height: 4px;
}

.projects-box {
	width: 500px;
	height: 500px;
	background: transparent;
	background-image: url("../img/projects/0.jpg");
	background-size: cover;
}

.contact-img-box {
	height: 200px;
	overflow: hidden;
}

.contact-img {
	width: 100%;
}

.contact .page-title {
	text-align: center;
	color: #ffff00;
}

.contact-info {
	text-align: center;
}

.contact-info p {
	padding: 0;
	margin: 0.5rem;
}
